body {

    width: 100%;
    height: 100%;

}

section {
    position: relative;
    margin-bottom: 10px;
    margin-left: 10px;
    
}

.mouse {
    height: 400px;
    background-color: aqua;
    width: 30%;
    margin-bottom: 30px;
    position: absolute;
    transition: all 1.5s;
}

.btn {

    font-size: larger;
    position: relative;
}

.position {
    top: 70px;
    left: 300px;

}
#date{
    display: block;
}