.container {
    display: flex;
    flex-wrap: wrap;
    max-width: 780px;
    margin: 0 auto;
    justify-content: space-between;

}

.card {
    width: 240px;
    height: 220px;
    background-color: #5d077c7a;
    margin: 10px;

    box-shadow: 0 8px 9px rgb(29, 2, 54);
}

.img_logo {
    width: 15%;
    display: block;
    margin: 0 auto;
}

body {
    background-image: url(../img/maxresdefault.jpg);
    max-height: 100%;
}

.card_title {
    font-family: cursive;
    text-align: center;
    color: #ffd9008d;
    font-weight: bold;
}
.btn {
    width: 40%;
    display: block;
    margin: 0 auto;
    border-radius: 20%;
    padding: 5px;
    background-color: rgb(234, 223, 9);
    color: rgb(122, 15, 172);
    font-weight: bolder;
    font-size: 14px;
    border-color: rgb(122, 15, 172) ;
}