header{
    border-width: 5px;
    border-style: solid;
    border-color: red;
    width: 800px; 
    height: 200px;
    text-align: center;
    font-size: 40px;
    color: grey;
    padding-top: 50px;
    box-sizing: border-box;
}
nav{
    border-width: 5px;
    border-style: solid;
    border-color: orange;
    width: 200px; 
    height:400px;
    text-align: center;
    font-size: 40px;
    color: grey;
    padding-top: 100px;
    box-sizing: border-box;
  

}
section{
    border-width: 5px;
    border-style: solid;
    border-color: orange;
    width: 600px; 
    height:400px;
    text-align: center;
    font-size: 40px;
    color: grey;
    padding-top: 150px;
    box-sizing: border-box;
   
}
div{
    display: flex;
}
footer{
    border-width: 5px;
    border-style: solid;
    border-color:grey;
    width: 800px; 
    height: 200px;
    text-align: center;
    font-size: 40px;
    color: grey;
    padding-top: 50px;
    box-sizing: border-box;

}